
.danger{
  color: red;
  font-weight: bold;
  font-size: 120%;
}

.result-artists{
  color: black;
}

a:hover{
  text-decoration: none; 
}

#artisteActuel{
  margin-top:15px;
}

#artisteActuel img{
  position:relative;
  right:13px;
}